.label {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  color: #8c8c8c;
}
.no_margin {
  margin: 0px;
}
.button {
  color: white;
  background-color: #8b4513;
  font-weight: 400;
  border-radius: 2px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 15rem;
}
.button_container {
  margin: 1rem 0rem;
  width: 100%;
}
.login_input_container {
  width: 100%;
}
.logup_form .label {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  color: #8c8c8c;
}
.logup_nav:hover {
  text-decoration: underline;
}
.forgotpassword_nav:hover {
  text-decoration: underline;
}
.login_form {
  width: 90%;
  max-width: 500px;
  min-width: 22rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 8px 32px 0 gray;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logup_form {
  height: 90%;
  min-width: 27rem;
  max-width: 500px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 8px 32px 0 gray;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgotpassword_form {
  width: 90%;
  max-width: 500px;
  min-width: 22rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 8px 32px 0 gray;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
