/* Header 6*/
.title-comm {
  font-size: 18px;
  position: relative;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-weight: 700;
  text-align: center;
}
.title-comm .title-holder {
  height: 3rem;
  line-height: 3rem;
  position: relative;
  text-align: center;
  z-index: 2;
  color: #ffb74d;
}
/* Main Page */
.flex_column {
  display: flex;
  flex-direction: column;
}
.title_bar {
  display: flex;
  align-items: center;
  position: absolute;
}
.page_title {
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.card_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  padding: 2vh 3vw;
  margin: 0vh 10vw 2vh;
  min-height: 100vh;
  border-radius: 0.5vw;
}
.card_item {
  border: 2px solid #ededed;
  display: inline-block;
  align-items: center;
  margin: 0px 0px 20px;
  padding: 10px 2px;
  border-radius: 0.5vw;
  max-height: 310px;
}
.mp_product_item_image {
  height: 190px;
  width: 190px !important;
}
.title_start_container {
  height: 60px;
  margin: 0px;
}
.product_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 140px;
  font-size: 12px;
}
.product_star {
  color: #4caf91;
  font-size: 12px;
}
.product_price {
  font-size: 15px !important;
  font-weight: 600;
  color: #174e34 !important;
}

/* Search Page */

/* Category Page */
